body {
  margin: 0px;
  background-color: #000;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  color: #f00;
  top: 0;
  margin: auto;
}

.content {
  width: 90%;
  border: 5px #000 dashed;
  height: 2000px;
}
